extends ./layout/header.pug
block content
  .container
    form.form-signin.m-5
      h2.form-signin-heading.p-5 Please sign in
      label.sr-only(for='inputEmail') Email address
      input#inputEmail.m-5.form-control(type='email' placeholder='Email address' required='' autofocus='')
      label.sr-only(for='inputPassword') Password
      input#inputPassword.m-5.form-control(type='password' placeholder='Password' required='')
      .checkbox
      button.btn.btn-lg.btn-primary.m-5(type='submit') Sign in